@import "../../../variables.scss";

.reset_password_modal {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .content {
        margin-top: 4.5rem;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        animation: 0.75s fadeIn ease-in-out;

        .reset_password_content {
            padding: 2.5rem 3rem;
            width: 30rem;
            height: 22rem;
            border-radius: 2.2rem;
            background-color: $secondary-color;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            animation: 0.25s zoomIn ease-in-out;

            .title {
                font-size: 2.25rem;
                font-weight: bold;
                color: $white;
            }

            .edit_fields_wrapper {
                display: flex;
                flex-direction: column;
                width: 100%;
                color: $white;
                padding-block: 2rem;
            }

            .button_wrapper {
                margin-top: 1.75rem;

                & > * {
                    width: 18rem;
                    padding: 1rem;
                }
            }
        }
    }
}

.close_icon {
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    position: absolute;
    top: -15rem;
    right: -12.5rem;
    z-index: 9999;
}

.login_page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    .background {
        width: 100%;
        height: 100%;
        background-image: url("../../../assets/images/loginPageBackground.jpg");
        background-size: cover;

        filter: blur(8px);
    }

    .form_wrapper {
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        background-color: $secondary-color;
        height: 68%;
        width: 29rem;
        border-radius: 2.5rem;
        animation: fadeInFromBottom 0.75s ease-in-out;

        .header {
            font-size: 2.75rem;
            font-weight: bold;
            color: $white;
        }

        .input_wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            height: 35%;
        }

        .action_button_wrapper {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
        }
        .forgot_password {
            color: $white;
            font-size: 1rem;
            margin-top: 1.5rem;
            align-self: center;
            cursor: pointer;
        }
    }
}

@keyframes fadeInFromBottom {
    from {
        margin-top: 12rem;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.75);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
