@import "../../../variables.scss";

.reset_password_modal {

        width: 70%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .content {
            margin-top: 4.5rem;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            position: relative;

            .reset_password_content {
                width: 39.6rem;
                height: 20rem;
                border-radius: 2.2rem;
                background-color: $secondary-color;
                display: flex;
                // justify-content: flex-start;
                flex-direction: column;
                align-items: center;
                position: relative;


                .edit_fields_wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 90%;
                    margin-top: 3rem;

                    .edit_field {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-direction: row;
                        width: 90%;
                        margin-bottom: 2.5rem;
                    }

                }
                .button_wrapper {
                    margin-top: 1rem;
                }
            }

        }




}

.close_icon {
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    position: absolute;
    top: -9rem;
    right: -12.5rem;
    z-index: 10000000;
}


.login_page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    .background {
        width: 100%;
        height: 100%;
        background-image: url("../../../assets/images/loginPageBackground.jpg");
        background-size: cover;

        filter: blur(8px);
    }

    .form_wrapper {
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        background-color: $secondary-color;
        height: 68%;
        width: 30rem;
        border-radius: 2.5rem;
        animation: fade_in 0.75s ease-in-out;

        .header {
            font-size: 2.75rem;
            font-weight: bold;
            color: $white;
        }

        .input_wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            height: 35%;
        }

        .action_button_wrapper {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
        }
        .forgot_password {
            color: $white;
            font-size: 1rem;
            margin-top: 1.5rem;
            align-self: center;
            cursor: pointer;
        }
    }
}

@keyframes fade_in {
    from {
        margin-top: 12rem;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}
