.topBar_default{
    background-color: #000;
  }
  
  .topBar_spec {
    background-color: rgb(34, 12, 65);
  }
  
  .topBar_admin {
    background-color: rgb(101, 11, 11);
  }
  
  .topBar_user {
    background-color: rgb(7, 64, 19);
  }