.topBar {
  position: sticky;
  top: 0px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  width: 100vw;

  .account {
    font-size: 2rem;
  }
}

.logo {
  float: left;
  padding-left: 30px;
  color: aliceblue;
}
