@import "/src/variables.scss";

.edit_own_account_page {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    flex-direction: column;
    background-color: $primary-color;
    overflow-x: hidden;
  
    .edit_own_account_header {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.75rem;
      font-weight: bold;
      padding: 2rem;
      color: white;
    }
  
    .edit_own_account_content {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 85%;
      margin-block: 3rem;
    
      .edit_data_account_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $secondary-color;
        width: 80%;
        border-radius: 2.4rem;
      }
    
    }


}

.edit_fields_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin-top: 2rem;

  .edit_field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 90%;
    margin-bottom: 2.5rem;
  }

  .edit_data_validation_wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 28rem;
  }
}