@import "../../variables.scss";

.confirm_action_modal_content {
    width: 100%;
    height: 100%;
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
        font-size: 2.4rem;
        font-weight: bold;
        color: $white;
        width: 85%;
        text-align: center;
        padding-bottom: 1.5rem;
        border-bottom: 2px solid $light-gray;
    }

    .description {
        font-size: 1.35rem;
        color: $white;
        padding: 2rem;
        text-align: center;
        width: 85%;
    }

    .action_buttons_wrapper {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        height: 6rem;
        width: 100%;

        & > * {
            font-size: 1.6rem;
            width: 10rem;
            flex-wrap: wrap;
        }
    }
}
