.content {
  position: relative;
  left: 0;
  height: 80vh;
  width: 200px;
}

.item {
  float: left;
  padding-top: 20px;
  color: aliceblue;
}

.item2 {
  float: left;
  clear: left;
  padding-top: 20px;
}
