@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");
@import "../../variables.scss";

.sidebar {
  background-color: $primary-color;
  width: 6rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.75s width ease-in-out, 0.75s padding ease-in-out;
  position: fixed;
  z-index: 999;

  .logo-wrapper {
    border-bottom: 1px solid $light-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 6rem;
    cursor: pointer;
    user-select: none;
    overflow: hidden;

    .logo {
      color: white;
      width: 4rem;
      height: 4rem;
    }

    .logo-name {
      color: white;
      font-size: 4.25rem;
      font-family: "Orbitron", sans-serif;
      margin-left: 1.25rem;
    }
  }

  .routes-wrapper {
    margin-top: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 70%;

    & > * {
      margin-bottom: 1.75rem;
    }
  }

  .logout-wrapper {
    margin-top: auto;
    padding: 1.5rem;
  }
}

.expanded {
  width: 22rem;
  justify-content: flex-start;
}
