@import "/src/variables.scss";

.create_user_page {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    flex-direction: column;
    background-color: $primary-color;
    overflow: hidden;

    .create_user_page_header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.75rem;
        font-weight: bold;
        padding: 3rem;
        color: white;
    }

    .create_user_page_content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 85%;
        margin-bottom: 3rem;
        animation: 0.5s fadeInFromBottom ease-in-out;

        .create_data_account_wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            background-color: $secondary-color;
            width: 70%;
            border-radius: 2.4rem;

            .create_user_buttons_wrapper {
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
                margin-bottom: 3rem;

                & > * {
                    width: 13rem;
                    padding: 0.15rem 1.5rem;
                    margin: 1.5rem;
                }
            }

            .edit_fields_wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 90%;
                margin-top: 3rem;


                .edit_field {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;
                    width: 90%;
                    height: 7rem;
                    margin-bottom: 2.5rem;
                }

                .edit_field_validation {
                    color: white;
                    // padding-left: 5rem;
                    padding-top: 3rem;
                }
                .option {
                    background: $secondary-color;
                }
                .select {
                    width: 15rem;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    height: 4rem;
                    font-size: 1.25rem;
                    color: $white;
                    border-bottom: 1px solid $light-green;
                }
                .p {
                    font-weight: bold;
                    font-size: 1.25rem;
                }
            }
        }
    }
}

@keyframes fadeInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
