@import "../../../variables.scss";

.action_button {
  width: 17rem;
  padding: 0.67rem 2.48rem;
  height: 2.93rem;
  // padding-top: 0.17rem;
  // padding-top: 0.14rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.22rem;
  color: $white;
  user-select: none;
  border-radius: 0.67rem;
  text-align: center;
  cursor: pointer;
  transition: 0.2s color ease-in-out, 0.2s background-color ease-in-out;
  transition: 0.2s filter ease-in-out;

  .icon {
    position: relative;
    left: -1rem;
  }

  &:hover {
    filter: brightness(140%);
  }

  .title {
    font-size: 1.35rem;
    font-weight: bold;
    color: white;
  }

}

.green {
  background-color: $green;
}

.purple {
  background-color: $purple;
}

.orange {
  background-color: $dark-orange;
}

.red {
  background-color: $red;
}

.blue {
  background-color: $turqoise;
}

.cyan{
  background-color: $cyan;
}

.disabled {
  background-color: #e6e6e6;
  color: #b3b3b3;
  pointer-events: none;
}

.loading {
  pointer-events: none;

}
