.button {
    height: 5vh;
    width: 16vw;
    background: linear-gradient(to right, #09390e, #00800d);
    border-radius: 1.5vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
