@import "../../../variables.scss";

.edit_field_wrapper {
    display: flex;
    flex-direction: column;

    .title {
        font-weight: bold;
        font-size: 1.25rem;
    }

    .input_wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        .input {
            outline: none;
            border: none;
            font-size: 1.25rem;
            padding-block: 1rem;
            background: none;
            color: white;
            transition: 0.15s border-bottom ease-in;
            -webkit-text-security: disc;

            &.valid {
                border-bottom: 2px solid $light-green;
            }
            &.invalid {
                border-bottom: 2px solid $red;
            }
        }

        .icon {
            font-size: 2rem;

            &.valid {
                color: $light-green;
            }

            &.invalid {
                color: $red;
            }
        }
    }
}
