.topBar {
  position: fixed;
  z-index: 100;
  top: 0px;
  display: flex;
  justify-content: space-between;
  background-color: #000;
  min-width: 100vw;
}

.logo {
  float: left;
  padding-left: 30px;
  color: aliceblue;
}

.right_side {
  float: right;
  color: aliceblue;
  font-size: 22px;
}
