.changeUserPasswordPage {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;

  h2 {
    font-size: 2rem;
  }

  .inputWrapper {
      display: flex;
      justify-content: space-evenly;
      width: 80%;
      margin: 2rem;

    .changePasswordInput {
      padding: 1rem;
      outline: none;
      font-size: 1.25rem;
      border-radius: 0.5rem;
    }
  }

  .error {
      color: rgb(230, 9, 9);
      font-size: 1.25rem;
      font-weight: bold;
  }

}

.submitButton {
  background: #00c9ff;
  background: -webkit-linear-gradient(to right, #92fe9d, #00c9ff);
  background: linear-gradient(to right, #92fe9d, #00c9ff);
  font-size: 1.25rem;
  border: none;
  color: black;
  border-radius: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}
