@import "../../variables.scss";

.specialist_card {
    margin-top: 5px;
    height: 12rem;
    padding: 2rem 3rem 2rem 3rem;
    background-color: $secondary-color;
    display: grid;
    border-radius: 3rem;
    grid-template-columns: 3fr 7fr;
    animation: 0.5s fadeInFromBottom ease-in-out;

    .image {
        width: 8rem;
        margin-right: 3rem;
        border-radius: 100px;
        position: relative;

        .access_level {
            position: absolute;
            top: 80%;
            left: -74%;
            display: flex;
            justify-content: center;
            width: 20rem;
            transform: scale(0.9);
        }
    }

    .table {
        overflow: hidden;
        border: none;
    }
    .span {
        text-align: center;
    }

    tbody {
        border: none;
        tr {
            border: none;
            th {
                color: $white;
                font-size: 1.75rem;
            }

            td {
                color: $white;
                font-size: 1.25rem;
            }
        }
    }
}

@keyframes fadeInFromBottom {
    from {
        opacity: 0;
        transform: translateY(10rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
