@import "../../../variables.scss";

.validation-message {
    
  .validation-message-text {
      font-size: 1.25rem;
      font-weight: bold;
      transition: 0.15s color ease-in;
      // padding: 0.75rem 2.5rem;
      // text-align: center;

    &.valid {
      color: $light-green;
    }
    &.invalid {
      color: $red;
    }
  }
}
