@import "../../../variables.scss";

.validation_message {
    
  .text {
      font-size: 1rem;
      font-weight: bold;
      transition: 0.15s color ease-in;

    &.valid {
      color: $light-green;
    }
    &.invalid {
      color: $red;
    }
  }
}
