.button {
    height: 5vh;
    width: 12vw;
    background: linear-gradient(to right, #2929A6, #15628D);
    border-radius: 0.6rem;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
