@import "../../../variables.scss";

.specialistMainPage {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: $primary-color;

    h1 {
        color: white;
        font-size: 3rem;
        margin-top: 2rem;
    }
}
